
<p> Personal information </p>






<div class="row m-1">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Personal Information</h5>
        <p class="card-text">Room Type :  {{   this.apiService.getRoomType() }}</p>
        <p class="card-text">Room Number :  {{   this.apiService.getRoomNo() }}  </p>
        <p class="card-text">CheckIn Date :  {{   this.apiService.getCheckInDate() }}</p>
        <p class="card-text">CheckOut  Date :  {{   this.apiService.getCheckOutDate() }}</p>
        <a href="#" class="btn btn-primary">Confirm booking</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Room Information</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Continue</a>
      </div>
    </div>
  </div>
</div>



